:root {
    --color-black: #121213;
    --color-white: #fff;
    --color-green: #538d4e;
    --color-yellow: #b59f3b;
    --color-dark: #3A3A3C;
    --color-light: #818384;
}

html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: var(--color-black);
    color: var(--color-white);

    font-family: 'Times New Roman', Times, serif;
    
    min-height: 100vh;
    margin: 0;
}

header {
    border-bottom: 1px solid var(--color-dark);
}

h1 {
    margin: 10px 0;
}